.avatar-container{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;

}
.avatar-container-profile{
    margin-top: 1%;
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 900px;
    overflow: hidden;
}
.avatar{
    
    width: 100%;
    height: 100%;
}
.data-user{
    font-weight: bold;
    font-style: italic;
    line-height: 36px;}

.pub_image .avatar-container{
    float: left;
    margin-right: 2%;
}
.pub_image_detail .avatar-container{
    float: left;
    margin-right: 2%;
}
.pub_image .data-user,
.description .data-user{
    font-weight: bold;
    font-style: italic;
    line-height: 36px;
}
.pub_image{
    margin-bottom: 5%;
}
.image-detail{
    max-height: 800px ;
    overflow: hidden;
    
}
.image-detail img{
    width: 100%;
    max-height: 900px;
   
}
.image-container{
    
    max-height: 800px ;
    overflow: hidden;
    max-width: 100%;
}
.image-container img{
    width: 100%;
   
}
.pub_image .card-body, .pub_image_detail .card-body{
    padding: 0px;
}
.pub_image .description, .pub_image_detail .description{
    padding: 2%;
    padding-bottom: 2%;
    padding-top: 0%;
    
   
}
.cursive{
    font-style: oblique;
}
.pub_image .btn-comments{
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}
.likes{
    float: left;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 0%;
    
}
.likes img{
    width: 25%;
}
.comments{
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-left: 0%;
}
.pub_image_detail .comments{
    padding: 20px;
}

.clearfix{
    clear: both;

}
.btn-like, .btn-dislike{
    margin-left: 8%;
}
.data-user, .data-user a{
   color: #565f67;
   text-decoration: none;
}

.user-info{
    float: left;
    margin-left: 3%;
}
.user-info h2{
    margin-top: 1%;
    font-size: 25px;
    margin-bottom: 0%;
    font-weight: bold;
}
.user-info h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0%;
    padding: 0%;
}
.user-info p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.count-pub{
    float: left;
    margin-top: 1%;

   
}
.fav{
    margin-left: 4%;
}

.count-pub h*{
    margin: 0%;
}
.user-info h4{
    width: 450px;
    margin-bottom: 10px;
}